<!DOCTYPE html>
<html lang="en">

<head>

  <title>Heart Rate Social</title>
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag 'home', media: 'all', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>-:Heart Rate Social:-</title>

  <!--&lt;!&ndash; Bootstrap core CSS &ndash;&gt;-->
  <!--<link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">-->

  <!--&lt;!&ndash; Custom fonts for this template &ndash;&gt;-->
  <!--<link rel="stylesheet" href="vendor/font-awesome/css/font-awesome.min.css">-->
  <!--<link rel="stylesheet" href="vendor/simple-line-icons/css/simple-line-icons.css">-->
  <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Muli" rel="stylesheet">

  <!--&lt;!&ndash; Plugin CSS &ndash;&gt;-->
  <!--<link rel="stylesheet" href="device-mockups/device-mockups.min.css">-->

  <!--&lt;!&ndash; Custom styles for this template &ndash;&gt;-->
  <!--<link href="css/new-age.min.css" rel="stylesheet">-->

</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">Heart Rate Social</a>
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
      Menu
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#download">Download</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#features">Features</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#Screens">Screens</a>
        </li>
        <li class="nav-item">
          <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<header class="masthead">
  <div class="container h-100">
    <div class="row h-100">
      <div class="col-lg-7 my-auto">
        <div class="header-content mx-auto">
          <h1 class="mb-5"> Health & Fitness people prefer to socialize with other people who care about their health. If this is you get ready for our new app Heart Rate Social that connects active lifestyles for healthy relationships.</h1>
          <a href="#download" class="btn btn-outline btn-xl js-scroll-trigger">Start Now for Free!</a>
        </div>
      </div>
      <div class="col-lg-5 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <%= image_tag('home/demo-screen-1.jpg', class: "img-fluid") %>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>

<section class="download bg-primary text-center" id="download">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <h2 class="section-heading text-white">Discover what all the buzz is about!</h2>
        <p class="text-white">Our app is available on any mobile device! Download now to get started!</p>
        <div class="badges">

          <a class="badge-link" href="https://itunes.apple.com/us/app/heart-rate-social/id1305009649?ls=1&mt=8"><%= image_tag('home/app-store-badge.svg') %></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="features" id="features">
  <div class="container">
    <div class="section-heading text-center">
      <h2>Unlimited Features, Unlimited Fun</h2>
      <p class="text-muted">Check out what you can do with this app theme!</p>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 my-auto">
        <div class="device-container">
          <div class="device-mockup iphone6_plus portrait white">
            <div class="device">
              <div class="screen">
                <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                <%= image_tag("home/demo-screen-1.jpg", class: "img-fluid") %>
              </div>
              <div class="button">
                <!-- You can hook the "home button" to some JavaScript events or just remove it -->
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 my-auto">
        <div class="container-fluid">
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-screen-smartphone text-primary"></i>
                <h3>Fitness</h3>
                <!--<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-camera text-primary"></i>
                <h3>Date Fit</h3>
                <!--<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-present text-primary"></i>
                <h3>Heart Rate</h3>
                <!--<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
              </div>
            </div>
            <div class="col-lg-6">
              <div class="feature-item">
                <i class="icon-lock-open text-primary"></i>
                <h3>Dating</h3>
                <!--<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="cta" id="Screens">
  <div class="cta-content">
    <div class="container" style="text-align:center;">

      <h3>Screens</h3>
      <!--<p class="text-muted">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>-->

      <br/>

      <div class="row">
        <div class="col-md-3"><%= image_tag "home/h2.jpg", width: "100%" %></div>
        <div class="col-md-3"><%= image_tag "home/h3.jpg", width: "100%" %></div>
        <div class="col-md-3"><%= image_tag "home/h4.jpg", width: "100%" %></div>
        <div class="col-md-3"><%= image_tag "home/h5.jpg", width: "100%" %></div>
      </div>
    </div>
  </div>
  <div class="overlay"></div>
</section>

<section class="contact bg-scnd" id="contact">
  <div class="container">
    <h2>Follow us on</h2>
    <ul class="list-inline list-social">
      <li class="list-inline-item social-twitter">
        <a href="#">
          <i class="fa fa-twitter"></i>
        </a>
      </li>
      <li class="list-inline-item social-facebook">
        <a href="https://www.facebook.com/HeartRateSocial/">
          <i class="fa fa-facebook"></i>
        </a>
      </li>
      <li class="list-inline-item social-google-plus">
        <a href="#">
          <i class="fa fa-google-plus"></i>
        </a>
      </li>
    </ul>
  </div>
</section>

<footer>
  <div class="container">
    <p>&copy; 2017 Heart rate social All Rights Reserved.</p>
    <ul class="list-inline">
      <li class="list-inline-item">
        <!--<a href="#">Privacy</a>-->
      </li>
      <li class="list-inline-item">
        <!--<a href="#">Terms</a>-->
      </li>
      <li class="list-inline-item">
        <!--<a href="#">FAQ</a>-->
      </li>
    </ul>
  </div>
</footer>

<!--&lt;!&ndash; Bootstrap core JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery/jquery.min.js"></script>-->
<!--<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>-->

<!--&lt;!&ndash; Plugin JavaScript &ndash;&gt;-->
<!--<script src="vendor/jquery-easing/jquery.easing.min.js"></script>-->

<!--&lt;!&ndash; Custom scripts for this template &ndash;&gt;-->
<!--<script src="js/new-age.min.js"></script>-->
<%= javascript_include_tag 'home', 'data-turbolinks-track': 'reload' %>

</body>

</html>